@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");
:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #db4444;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* 1 rem 10px */
}
body {
  font-family: var(--font-main);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}
.w-6 {
  width: 2rem;
  height: 2rem;
}
.h-6 {
  fill: rgb(239, 140, 1);
}
/* top_nav */
.top_nav {
  width: 100%;
  height: 4rem;
  background-color: var(--colo-dark-1);
}
.top_nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_nav_wrapper {
  display: flex;
  color: var(--colo-white-1);
}
.tap_nav_p {
  font-size: 1.4rem;
  font-weight: 400;
}
.top_nav_link {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--colo-white-1);
}
/* navbaar */
.nav {
  width: 100%;
  height: 8rem;
  border-bottom: 1px solid var(--colo-dark-2);
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_items {
  display: flex;
}
.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--colo-dark-1);
}
.nav_item {
  margin: 0rem 0.5rem;
}
.nav_link {
  padding: 0.6rem;
  color: var(--colo-dark-1);
}
.nav_form {
  padding: 0.8rem;
  background-color: var(--colo-white-2);
  display: flex;
  align-items: center;
}
.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}
.nav_search {
  cursor: pointer;
}
.nav_items {
  display: flex;
  align-items: center;
}
.nav_heart {
  margin-left: 1rem;
  cursor: pointer;
}
.nav_cart {
  margin-left: 1rem;
  cursor: pointer;
}

/* header */
.header_container {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
.header_filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header_filter_link {
  color: var(--colo-dark-1);
}

/* section */
.section {
  margin-top: 10rem;
}

/* flash sale */

.section_category_p {
  border-left: 1.4rem solid var(--colo-primary);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--colo-primary);
  font-size: 1.3rem;
}
.section_header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4rem;
}
.section_title {
  margin-right: 2rem;
  font-size: 2.6rem;
}
#demo {
  font-size: 1.8rem;
}
/* swiper slide */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.card {
  margin-bottom: 5rem;
}
.card_top {
  width: 100%;
  height: 22rem;
  position: relative;
}
.card_img {
  width: 100%;
  height: 100%;
}
.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background-color: var(--colo-primary);
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--colo-white-1);
  border-radius: 0.5rem;
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
}
.card_top_icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 1rem;
  background-color: var(--colo-white-1);
  border-radius: 10rem;
}
.card_body {
  margin-top: 1rem;
  text-align: left;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.card_price {
  color: var(--colo-primary);
  margin-bottom: 1rem;
}
.card_ratings {
  display: flex;
}
.card_stars {
  margin-right: 1rem;
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}

/* categories */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
}
.category {
  text-align: center;
  padding: 3rem;
  border: 1px solid var(--colo-white-2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.category:hover {
  background-color: var(--colo-primary);
}
.category_icon {
  width: 3.5rem;
  height: auto;
}

/* trending */
.trending {
  background-color: var(--colo-dark-1);
  padding: 8rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.trending_img {
  width: 100%;
}
.trending_p {
  color: var(--color-green);
}
.trending_title {
  color: var(--colo-white-1);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.trending_btn {
  background-color: var(--color-green);
  padding: 1rem 2rem;
  color: var(--colo-white-1);
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}

/* gallery */
.gallery_item {
  width: 100%;
  position: relative;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 1.5rem;
}
.gallery_item {
  width: 100%;
}
.gallery_item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery_item_content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;
  width: 70%;
}
.gallery_item_title {
  color: var(--colo-white-1);
  font-size: 2.2rem;
}
.gallery_item_p {
  color: var(--colo-white-1);
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
.gallery_item_link {
  color: var(--colo-white-1);
  text-decoration: underline;
}
.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
.gallery_item_2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery_item_3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
.gallery_item_4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 8;
}

/* services */
.services_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 3rem;
}
.service {
  text-align: center;
}
.service_title {
  margin: 1.5rem 0rem;
}
/* footer */
.footer {
  margin-top: 10rem;
  background-color: var(--colo-dark-1);
}
.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  padding: 5rem 0rem;
  color: var(--colo-white-1);
}
.footer_logo {
  font-size: 3rem;
  color: var(--colo-white-1);
  font-weight: 700;
}
.footer_p {
  margin-top: 1.2rem;
}
.footer_item_titl {
  margin-bottom: 1.2rem;
}
.footer_list_item {
  margin: 0.5rem 0rem;
}
.footer_bottom_container {
  width: 100%;
  text-align: center;
}
.footer_copy {
  color: var(--colo-dark-2);
  padding: 1.5rem 0rem;
}

@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger > svg {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* mobile nav */
.mobile_nav {
  background-color: var(--colo-white-1);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  color: var(--colo-dark-1);
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}

/* Cart page */
.cart {
  width: 100%;
}
.cart_header {
  padding: 1.5rem;
  background-color: var(--colo-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}

.cart_item {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--colo-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}
.cart_product {
  display: flex;
  flex-direction: column;
}
.cart_img {
  width: 7%;
}
.cart_total {
  margin-top: 2rem;
  text-align: right;
}
.add_to_cart {
  padding: 1rem 2rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 2rem;
}
